<center><h1><font color="grey">WELCOME</font></h1></center>

<br><br><br>

<center><%= link_to(image_tag("http://www.iconninja.com/files/823/33/273/comment-bubbles-chat-messages-icon.png"), :articles) %></center>

<br><br><br>

<center><h3><font color="lightgrey">alux miniblog [ruby on rails]</font></h3></center>